<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="methods" thread-count="2" >
    <parameter name="baseURL" value="http://qa.koel.app"/>
    <test name="baseUrl" preserve-order="false">
        <classes>
           <class name="LoginTests"/>
            <class name="BaseTest"/>
                      <class name="PlaySongTest"/>
                      <class name="DeletePlaylistTest20"/>
                   <!--    <class name="Homework22"/> -->
                       <class name="PlayListTest"/>
                       <class name="AddSongToPlaylist"/>
                       <class name="RenameUserProfileTest"/>
                       <class name="PlaySongTest21"/>
                    <class name="DeletePlayListTest"/>
                   <class name="PlaySongByActionTest"/>
                   <class name="RenamePlayListTest"/>
                   <class name="PlaySongTest"/>
                   <class name="ThemeTest"/>
                   <class name="CucumberRunner"/>
            <class name="DeletePlaylistTest1"/>
               </classes>
             </test>
       </suite>
