<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" thread-count="2" parallel="false">
    <parameter name="baseURL" value="http://qa.koel.app"/>
    <test name="baseUrl" preserve-order="false">
        <classes>
            <class name="LoginTests"/>
            <class name="BaseTest"/>
            <class name="Homework19"/>
            <class name="Homework20"/>
            <class name="PlayListTest"/>
            <!-- <class name="AddSongToPlaylist"/> -->
            <class name="RenameUserProfileTest"/>
        </classes>
      </test>
</suite>
